.StylesParagraph{
    color: #454545;
    font-size: 90%;
}

.row-components{
    display:flex;
    flex-direction:row;
}

.recharts-cartesian-axis {    
    font-size: 0.8rem;
    font-family: Roboto, sans-serif;
}

.charts_title {    
    font-size: 0.9rem;
    font-family: Roboto, sans-serif;
}